<div id="<%= dom_id clothe %>">
  <p>
    <strong>Name:</strong>
    <%= clothe.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= clothe.size %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= clothe.color %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= clothe.price %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= clothe.material %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= clothe.stock %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= clothe.category_id %>
  </p>

</div>
