<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dresses</title>
  <%= stylesheet_link_tag 'dress_index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="container2">
 
<!-- Filters bar -->
<div class="filters-bar">
  <%= form_tag(dresses_path, method: :get) do %>
    <!-- Color filter -->
    <div class="filter">
      <%= label_tag :color, "Color:" %>
      <%= select_tag :color, options_for_select(Dress.distinct.pluck(:color), params[:color]), include_blank: true %>
    </div>
    
    <!-- Category filter -->
    <div class="filter">
      <%= label_tag :category_id, "Category:" %>
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: true %>
    </div>
    
    <!-- Size filter -->
    <div class="filter">
      <%= label_tag :size_id, "Size:" %>
      <%= select_tag :size_id, options_from_collection_for_select(Size.all, :id, :name, params[:size_id]), include_blank: true %>
    </div>
    
    <%= submit_tag "Filter",class: "filter-button"  %>
  <% end %>
</div>
  <h1>Dresses</h1>
   
  
  <div class="dresses-grid">
    <% @dresses.each do |dress| %>
      <div class="dress-card">
        <h2><%=dress.name%></h2>
        <p>Size: <%= dress.sizes.pluck(:name).join('/ ') %></p>
        <p>Color: <%= dress.color %></p>
        <p>Price: <%= dress.price %></p>
        <p>Material: <%= dress.material %></p>
        <p>Stock: <%= dress.stock %></p>
        <% if dress.image.attached? %>
          <div class="dress-image">
            <%= image_tag dress.image %>
          </div>
        <% end %>
        <div class="button-container">
          <%= link_to "Edit", edit_dress_path(dress), class: "edit-button" %>
          <%= form_tag dress_path(dress), method: :delete, data: { confirm: "Are you sure you want to delete this dress?" } do %>
            <%= submit_tag "Delete", class: "delete-button" %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
  <% flash.each do |type, message| %>
    <div class="flash-container">
      <div class="flash-message flash-<%= type %>">
        <%= message %>
      </div>
      <button class="flash-ok-button" onclick="this.parentNode.style.display = 'none';">OK</button>
    </div>
  <% end %>
</div>

</body>
</html>