<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Dress</title>
  <%= stylesheet_link_tag 'dress_new', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<div class="container2" >
  <h2>Add New Dress</h2>
  <%= form_with(model: @dress, url: dresses_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
  <%= form.label :size %>
  <%= form.select :size, ['XS', 'S', 'M', 'L', 'XL','Nil'], {} %> 
</div>

    <div class="field">
      <%= form.label :color %>
      <%= form.text_field :color %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>

    <div class="field">
      <%= form.label :material %>
      <%= form.text_field :material %>
    </div>

    <div class="field">
      <%= form.label :stock %>
      <%= form.number_field :stock %>
    </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div>

    <div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>

    <div class="actions">
      <%= form.submit "Create Dress" %>
    </div>
  <% end %>

  <%= link_to "Back", dresses_path %>
</div>

</body>
</html>