<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Dress</title>
  <style>
  body {
    /* max-width:90%;*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfafa; 
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #000;
    }
     /* Form field styles*/
    .field {
      margin-bottom: 20px;
    }

    label {
      font-size: 18px;
      color: #555;
     display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"],
    select {
      width: 80%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    /* Submit button styles */
    .actions {
      margin-top: 20px;
    }

    input[type="submit"] {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }

    /* Back link styles */
    a {
      text-decoration: none;
      color: #007bff;
      font-size: 18px;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #0056b3;
    }
    .cover {
      margin-right: 220px;
    }

    img {
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      z-index: 9999;
    }
  </style>
</head>
<body>

<div class="container" >
  <h2>Add New Dress</h2>
  <%= form_with(model: @dress, url: dresses_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :size %>
      <%= form.text_field :size %>
    </div>

    <div class="field">
      <%= form.label :color %>
      <%= form.text_field :color %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>

    <div class="field">
      <%= form.label :material %>
      <%= form.text_field :material %>
    </div>

    <div class="field">
      <%= form.label :stock %>
      <%= form.number_field :stock %>
    </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div>

    <div class="actions">
      <%= form.submit "Create Dress" %>
    </div>
  <% end %>

  <%= link_to "Back", dresses_path %>
</div>

</body>
</html>